@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/image.jpg');
  background-size: cover;
  background-repeat: none;
  font-family: 'Roboto', sans-serif;
}

.chat {
  padding: 30px 15px 15px 25px;
  background: white;
  box-shadow: 1px 1px 2px 0 #CCCCCC;
  border-radius: 3px;
  width: 700px;
}
